name: Build Cost Notifier Lambda Container

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  id-token: write
  actions: read
  checks: write
  contents: write
  deployments: none
  issues: none
  packages: none
  pull-requests: write
  repository-projects: none
  security-events: write
  statuses: none

defaults:
 run:
  shell: bash

jobs:
  version:
    name: Create Version & Tag
    uses: ./.github/workflows/version.yml

  build-containers:
    name: "Test & Build Lambda Images"
    needs: [version]
    runs-on: ubuntu-latest
    env:
      BUILDX_NO_DEFAULT_ATTESTATIONS: 1
    outputs:
      tag: ${{ needs.version.outputs.tag }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: unfor19/install-aws-cli-action@f5b46b7f32cf5e7ebd652656c5036bf83dd1e60c # 1.0.8

      - name: Test with pytest
        run: make test

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@27d65e188ec43221b20d26de30f4892fad91df2f # v2.22.0
        if: always()
        with:
          junit_files: '**/unit-tests.xml'

      - name: Build Container
        run: make build

      - name: Scan Image with Trivy
        run: make scan

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e # v4.32.4
        if: always()
        with:
          sarif_file: 'test-results/trivy.sarif'

      - name: Configure OIDC AWS credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          role-to-assume: arn:aws:iam::311462405659:role/aws-cost-notifier-oidc-role
          role-session-name: opg-aws-cost-notifier-github-actions-push
          role-duration-seconds: 900
          aws-region: eu-west-1

      - name: ECR Login
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1
        with:
          registries: 311462405659

      - name: Push Container
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          COST_NOTIFIER_ECR_REPOSITORY: shared/aws-cost-notifier
        run: |
          docker tag 311462405659.dkr.ecr.eu-west-1.amazonaws.com/shared/aws-cost-notifier:latest $ECR_REGISTRY/$COST_NOTIFIER_ECR_REPOSITORY:${{ needs.version.outputs.tag }}
          if ${{ github.ref_name == 'main' }}
          then
            docker tag 311462405659.dkr.ecr.eu-west-1.amazonaws.com/shared/aws-cost-notifier:latest $ECR_REGISTRY/$COST_NOTIFIER_ECR_REPOSITORY:main-${{ needs.version.outputs.tag }}
            docker tag 311462405659.dkr.ecr.eu-west-1.amazonaws.com/shared/aws-cost-notifier:latest $ECR_REGISTRY/$COST_NOTIFIER_ECR_REPOSITORY:main-${{ needs.version.outputs.tag }}-${{ needs.version.outputs.timestamp }}
            # We want all of the tags pushed
            docker push --all-tags $ECR_REGISTRY/$COST_NOTIFIER_ECR_REPOSITORY
          else
            docker push $ECR_REGISTRY/$COST_NOTIFIER_ECR_REPOSITORY:${{ needs.version.outputs.tag }}
          fi

      - name: Put Tag
        if: github.ref == 'refs/heads/main'
        run: aws ssm put-parameter --region "eu-west-1" --name "/shared/aws-cost-notifier-lambda-version" --type "String" --value "${{ needs.version.outputs.tag }}" --overwrite
