name: Validate and Plan Terraform

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

defaults:
 run:
  shell: bash

env:
  TERRAFORM_VERSION: 1.5.7
  TFLINT_VERSION: 0.50.1

jobs:
  lint-validate-and-plan:
    name: 'Validate Infrastructure'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}
      - uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33 # v6.2.1
        name: Setup TFLint
        with:
          tflint_version: v${{ env.TFLINT_VERSION }}

      - name: Check Formating
        id: tf_fmt
        run: terraform fmt -check -recursive

      - name: Lint Terraform
        id: tf_lint
        run: tflint --recursive

      - name: Validate & Plan Terraform
        id: tf_validate
        run: make terraform
