name: Bump version
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  version-bump:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.bump_version.outputs.tag }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: '0'

      - name: Extract branch name
        run: |
          if [ "${{ github.head_ref }}" == "" ]; then
            echo BRANCH_NAME=main >> $GITHUB_ENV
          else
            echo BRANCH_NAME=$(echo ${{ github.head_ref }} | sed 's/\//-/g') >> $GITHUB_ENV
          fi
        id: extract_branch

      - name: Bump version
        id: bump_version
        uses: anothrNick/github-tag-action@1.36.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          INITIAL_VERSION: 1.0.0
          DEFAULT_BUMP: minor
          PRERELEASE_SUFFIX: ${{ steps.extract_branch.outputs.branch }}
          RELEASE_BRANCHES: main
          WITH_V: true

      - name: Write Version to file
        run: echo "${{ steps.bump_version.outputs.tag }}" > version.txt

      - uses: actions/upload-artifact@v3
        with:
          name: version
          path: version.txt
